<h1>Strays</h1>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

<div *ngIf="show;">
<h2>Add a Stock</h2>
<h3> Team A </h3>
<input type ="text" class="form-control" ng-model="string" (keyup)="onTeamAKeyUp($event)" [name]="stock">
<br>
<h3> Team B</h3>
<input type ="text" class="form-control" ng-model="string" (keyup)="onTeamBKeyUp($event)" [name]="stock">
<br>
<button class = "btn"(click) = "gettickersymbols()">Train and Get Answer</button>
<br>
</div>